body {
  display: grid;
  grid-template-areas: 'header' 'container';
  grid-template-rows: 5vh 95vh;
  grid-template-columns: 100vw;
}

#menu {
  display: flex;
  grid-area: header;
  justify-content: center;
  align-items: center;
  background: #28a745;
  color: white;
}



