<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include ../partials/head.ejs %>

    
    <link rel="stylesheet" href="css/quiz.css">
    <title>Me Lê</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-light  bg-warning">

        <div class="container">
            <a class="navbar-brand h1 mb-0" href="#">Me Lê</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSite">
                <ul class="navbar-nav ml-auto ">
                   
                </ul>
                <form class="form-inline">
                    <input class="form-control ml-4 mr-2" type="search" placeholder="Buscar...">
                    <button class="btn btn-primary" type="Submit">ok</button>
                </form>

            </div>
        </div>
    </nav>


    <div class="tab-content" id="nav-pills-content">

        <!--   ------------------------------------------------------------------------------------------------- -->

        <div class="tab-pane fade show active" id="nav-iten-01">
            <div class="container text-center">
                <div id="container">
                    <div class="grid">
                        <div id="quiz">
                            
                            <p id="question" align="justify">The question is?</p>
                 
                            <div class="buttons">
                              <div class="labelQuest">
                                  <input id="a" type="radio" name="q" value="a">
                                  <span id="aAlt" align="justify"></span>
                              </div>
                              <div class="labelQuest">
                                  <input id="b" type="radio" name="q" value="b">
                                  <span id="bAlt" align="justify"></span>
                              </div> 
                              <div class="labelQuest">
                                  <input id="c" type="radio" name="q" value="c">
                                  <span id="cAlt" align="justify"></span>
                              </div>
                              <div class="labelQuest">
                                  <input id="d" type="radio" name="q" value="d">
                                  <span id="dAlt" align="justify"></span>
                              </div>
                            </div>
              
                            <div id="nextBack">
                              <button onclick="back()" class="btn" style="font-size: 25px;"><i class="fa fa-chevron-left"></i></button>
                              <button onclick="next()" class="btn" style="font-size: 25px;"><i class="fa fa-chevron-right"></i></button>
                            </div>
              
                            <div id="cancelConfirm">
                              
                              <button onclick="cancel()" type="button" class="btn btn-warning" style="margin-right: 10px;">Cancelar</button>
                              <button onclick="send()" type="button" class="btn btn-success">Enviar</button>
                              
                            </div>
              
                            <hr>
                            
                            <p id="cont"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/quiz.js"></script>
</body>
</html>

