<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Me Lê</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-light  bg-warning   ">

        <div class="container">
            <a class="navbar-brand h1 mb-0" href="#">Me Lê</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSite">


                <ul class="nav nav-pills nav-pills mr-auto " id="pills-nav" role="tablist">

                    <li class="nav-item" >
                        <a class="nav-link active" id="nav-pills-01" data-toggle="pill" href="#nav-iten-01">Meus Livros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " id="nav-pills-02" data-toggle="pill" href="#nav-iten-02">Todos os livros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="nav-pills-03" data-toggle="pill" href="#nav-iten-03">Score</a>
                    </li>

                </ul>


                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">Mais Opções</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Home</a>
                            <a class="dropdown-item" href="#">Logout</a>
                            <a class="dropdown-item" href="#">Foda-se</a>

                        </div>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control ml-4 mr-2" type="search" placeholder="Buscar...">
                    <button class="btn btn-primary" type="Submit">ok</button>
                </form>

            </div>
        </div>
    </nav>


    <div class="tab-content" id="nav-pills-content">

        <!--   ------------------------------------------------------------------------------------------------- -->

        <div class="tab-pane fade show active" id="nav-iten-01">
            <div class="container text-center">
                <h1> Meus Livros </h1>
            </div>
        </div>


        <!-- ----------------------------------------------------------------------------------------------- -->



        <div class="tab-pane fade" id="nav-iten-02">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <h1>Todos os Livros</h1>
                        <h2>batata</h2>
                    </div>
                </div>
            </div>
        </div>




        <!-- ------------------------------------------------------------------------------------------------- -->
        <div class="tab-pane fade " id="nav-iten-03">
            <div class="container text-center">
                <div class="row ">
                    <div class="col-12">
                        <h1>Seu Score</h1>
                        <h3>arroz</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>